In [1]:
import pandas as pd

In [2]:
import numpy as np

In [11]:
data_frame = pd.read_excel("students.xlsx")

In [12]:
data_frame

   id name  q1  assign  mid  compre
0   1    A   5      10    5      35
1   2    B   4       9   23      21
2   3    C   3       6   12      23
3   4    D   4       2   23      23
4   5    E   1       7   11      11

In [13]:
print("Type of data frame object : ", type(data_frame), "\n")
print("Data types of data frame columns : ", data_frame.dtypes, "\n")
print("Columns of data frame : ", data_frame.columns, "\n")
print("Row labels of data frame : ", data_frame.index, "\n")
print("Number of entries in data frame : ", len(data_frame), "\n")
print()

Type of data frame object :  <class 'pandas.core.frame.DataFrame'>

Data types of data frame columns :  id         int64
name      object
q1         int64
assign     int64
mid        int64
compre     int64
dtype: object

Columns of data frame :  Index(['id', 'name', 'q1', 'assign', 'mid', 'compre'], dtype='object')

Row labels of data frame :  RangeIndex(start=0, stop=5, step=1)

Number of entries in data frame :  5

In [14]:
data_frame = pd.read_excel("students.xlsx", sheet_name="marksheet")
data_frame

   id name  q1  assign  mid  compre
0   1    A   5      10    5      35
1   2    B   4       9   23      21
2   3    C   3       6   12      23
3   4    D   4       2   23      23
4   5    E   1       7   11      11

In [15]:
bikes = pd.read_csv("bike_shairing_hourly.csv")

In [16]:
bikes.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [18]:
bikes.tail(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [19]:
bikes.shape

(17379, 17)

In [20]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [21]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [22]:
bikes.dteday.unique()

array(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
       '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
       '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
       '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
       '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20',
       '2011-01-21', '2011-01-22', '2011-01-23', '2011-01-24',
       '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
       '2011-01-29', '2011-01-30', '2011-01-31', '2011-02-01',
       '2011-02-02', '2011-02-03', '2011-02-04', '2011-02-05',
       '2011-02-06', '2011-02-07', '2011-02-08', '2011-02-09',
       '2011-02-10', '2011-02-11', '2011-02-12', '2011-02-13',
       '2011-02-14', '2011-02-15', '2011-02-16', '2011-02-17',
       '2011-02-18', '2011-02-19', '2011-02-20', '2011-02-21',
       '2011-02-22', '2011-02-23', '2011-02-24', '2011-02-25',
       '2011-02-26', '2011-02-27', '2011-02-28', '2011-03-01',
       '2011-03-02', '2011-03-03', '2011-03-04', '2011-03-05',
       '2011-03-06', '2011-03-07', '2011-03-08', '2011-03-09',
       '2011-03-10', '2011-03-11', '2011-03-12', '2011-03-13',
       '2011-03-14', '2011-03-15', '2011-03-16', '2011-03-17',
       '2011-03-18', '2011-03-19', '2011-03-20', '2011-03-21',
       '2011-03-22', '2011-03-23', '2011-03-24', '2011-03-25',
       '2011-03-26', '2011-03-27', '2011-03-28', '2011-03-29',
       '2011-03-30', '2011-03-31', '2011-04-01', '2011-04-02',
       '2011-04-03', '2011-04-04', '2011-04-05', '2011-04-06',
       '2011-04-07', '2011-04-08', '2011-04-09', '2011-04-10',
       '2011-04-11', '2011-04-12', '2011-04-13', '2011-04-14',
       '2011-04-15', '2011-04-16', '2011-04-17', '2011-04-18',
       '2011-04-19', '2011-04-20', '2011-04-21', '2011-04-22',
       '2011-04-23', '2011-04-24', '2011-04-25', '2011-04-26',
       '2011-04-27', '2011-04-28', '2011-04-29', '2011-04-30',
       '2011-05-01', '2011-05-02', '2011-05-03', '2011-05-04',
       '2011-05-05', '2011-05-06', '2011-05-07', '2011-05-08',
       '2011-05-09', '2011-05-10', '2011-05-11', '2011-05-12',
       '2011-05-13', '2011-05-14', '2011-05-15', '2011-05-16',
       '2011-05-17', '2011-05-18', '2011-05-19', '2011-05-20',
       '2011-05-21', '2011-05-22', '2011-05-23', '2011-05-24',
       '2011-05-25', '2011-05-26', '2011-05-27', '2011-05-28',
       '2011-05-29', '2011-05-30', '2011-05-31', '2011-06-01',
       '2011-06-02', '2011-06-03', '2011-06-04', '2011-06-05',
       '2011-06-06', '2011-06-07', '2011-06-08', '2011-06-09',
       '2011-06-10', '2011-06-11', '2011-06-12', '2011-06-13',
       '2011-06-14', '2011-06-15', '2011-06-16', '2011-06-17',
       '2011-06-18', '2011-06-19', '2011-06-20', '2011-06-21',
       '2011-06-22', '2011-06-23', '2011-06-24', '2011-06-25',
       '2011-06-26', '2011-06-27', '2011-06-28', '2011-06-29',
       '2011-06-30', '2011-07-01', '2011-07-02', '2011-07-03',
       '2011-07-04', '2011-07-05', '2011-07-06', '2011-07-07',
       '2011-07-08', '2011-07-09', '2011-07-10', '2011-07-11',
       '2011-07-12', '2011-07-13', '2011-07-14', '2011-07-15',
       '2011-07-16', '2011-07-17', '2011-07-18', '2011-07-19',
       '2011-07-20', '2011-07-21', '2011-07-22', '2011-07-23',
       '2011-07-24', '2011-07-25', '2011-07-26', '2011-07-27',
       '2011-07-28', '2011-07-29', '2011-07-30', '2011-07-31',
       '2011-08-01', '2011-08-02', '2011-08-03', '2011-08-04',
       '2011-08-05', '2011-08-06', '2011-08-07', '2011-08-08',
       '2011-08-09', '2011-08-10', '2011-08-11', '2011-08-12',
       '2011-08-13', '2011-08-14', '2011-08-15', '2011-08-16',
       '2011-08-17', '2011-08-18', '2011-08-19', '2011-08-20',
       '2011-08-21', '2011-08-22', '2011-08-23', '2011-08-24',
       '2011-08-25', '2011-08-26', '2011-08-27', '2011-08-28',
       '2011-08-29', '2011-08-30', '2011-08-31', '2011-09-01',
       '2011-09-02', '2011-09-03', '2011-09-04', '2011-09-05',
       '2011-09-06', '2011-09-07', '2011-09-08', '2011-09-09',
       '2011-09-10', '2011-09-11', '2011-09-12', '2011-09-13',
       '2011-09-14', '2011-09-15', '2011-09-16', '2011-09-17',
       '2011-09-18', '2011-09-19', '2011-09-20', '2011-09-21',
       '2011-09-22', '2011-09-23', '2011-09-24', '2011-09-25',
       '2011-09-26', '2011-09-27', '2011-09-28', '2011-09-29',
       '2011-09-30', '2011-10-01', '2011-10-02', '2011-10-03',
       '2011-10-04', '2011-10-05', '2011-10-06', '2011-10-07',
       '2011-10-08', '2011-10-09', '2011-10-10', '2011-10-11',
       '2011-10-12', '2011-10-13', '2011-10-14', '2011-10-15',
       '2011-10-16', '2011-10-17', '2011-10-18', '2011-10-19',
       '2011-10-20', '2011-10-21', '2011-10-22', '2011-10-23',
       '2011-10-24', '2011-10-25', '2011-10-26', '2011-10-27',
       '2011-10-28', '2011-10-29', '2011-10-30', '2011-10-31',
       '2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04',
       '2011-11-05', '2011-11-06', '2011-11-07', '2011-11-08',
       '2011-11-09', '2011-11-10', '2011-11-11', '2011-11-12',
       '2011-11-13', '2011-11-14', '2011-11-15', '2011-11-16',
       '2011-11-17', '2011-11-18', '2011-11-19', '2011-11-20',
       '2011-11-21', '2011-11-22', '2011-11-23', '2011-11-24',
       '2011-11-25', '2011-11-26', '2011-11-27', '2011-11-28',
       '2011-11-29', '2011-11-30', '2011-12-01', '2011-12-02',
       '2011-12-03', '2011-12-04', '2011-12-05', '2011-12-06',
       '2011-12-07', '2011-12-08', '2011-12-09', '2011-12-10',
       '2011-12-11', '2011-12-12', '2011-12-13', '2011-12-14',
       '2011-12-15', '2011-12-16', '2011-12-17', '2011-12-18',
       '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
       '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
       '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
       '2011-12-31', '2012-01-01', '2012-01-02', '2012-01-03',
       '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07',
       '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11',
       '2012-01-12', '2012-01-13', '2012-01-14', '2012-01-15',
       '2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
       '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
       '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
       '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
       '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
       '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
       '2012-02-09', '2012-02-10', '2012-02-11', '2012-02-12',
       '2012-02-13', '2012-02-14', '2012-02-15', '2012-02-16',
       '2012-02-17', '2012-02-18', '2012-02-19', '2012-02-20',
       '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
       '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
       '2012-02-29', '2012-03-01', '2012-03-02', '2012-03-03',
       '2012-03-04', '2012-03-05', '2012-03-06', '2012-03-07',
       '2012-03-08', '2012-03-09', '2012-03-10', '2012-03-11',
       '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       '2012-03-16', '2012-03-17', '2012-03-18', '2012-03-19',
       '2012-03-20', '2012-03-21', '2012-03-22', '2012-03-23',
       '2012-03-24', '2012-03-25', '2012-03-26', '2012-03-27',
       '2012-03-28', '2012-03-29', '2012-03-30', '2012-03-31',
       '2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
       '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
       '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
       '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
       '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
       '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
       '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
       '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
       '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
       '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
       '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
       '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
       '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
       '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
       '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
       '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09',
       '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13',
       '2012-07-14', '2012-07-15', '2012-07-16', '2012-07-17',
       '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-23', '2012-07-24', '2012-07-25',
       '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-29',
       '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02',
       '2012-08-03', '2012-08-04', '2012-08-05', '2012-08-06',
       '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10',
       '2012-08-11', '2012-08-12', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-18',
       '2012-08-19', '2012-08-20', '2012-08-21', '2012-08-22',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-27', '2012-08-28', '2012-08-29', '2012-08-30',
       '2012-08-31', '2012-09-01', '2012-09-02', '2012-09-03',
       '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07',
       '2012-09-08', '2012-09-09', '2012-09-10', '2012-09-11',
       '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
       '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
       '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
       '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
       '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
       '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
       '2012-10-06', '2012-10-07', '2012-10-08', '2012-10-09',
       '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-13',
       '2012-10-14', '2012-10-15', '2012-10-16', '2012-10-17',
       '2012-10-18', '2012-10-19', '2012-10-20', '2012-10-21',
       '2012-10-22', '2012-10-23', '2012-10-24', '2012-10-25',
       '2012-10-26', '2012-10-27', '2012-10-28', '2012-10-29',
       '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
       '2012-11-03', '2012-11-04', '2012-11-05', '2012-11-06',
       '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-10',
       '2012-11-11', '2012-11-12', '2012-11-13', '2012-11-14',
       '2012-11-15', '2012-11-16', '2012-11-17', '2012-11-18',
       '2012-11-19', '2012-11-20', '2012-11-21', '2012-11-22',
       '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26',
       '2012-11-27', '2012-11-28', '2012-11-29', '2012-11-30',
       '2012-12-01', '2012-12-02', '2012-12-03', '2012-12-04',
       '2012-12-05', '2012-12-06', '2012-12-07', '2012-12-08',
       '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
       '2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
       '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
       '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31'], dtype=object)

In [23]:
bikes.season.unique()

array([1, 2, 3, 4], dtype=int64)

In [27]:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [28]:
bikes = bikes.dropna()
#or inplace replacment in data frame
bikes.dropna(inplace=True)
bikes.count()

instant       17379
dteday        17379
season        17379
yr            17379
mnth          17379
hr            17379
holiday       17379
weekday       17379
workingday    17379
weathersit    17379
temp          17379
atemp         17379
hum           17379
windspeed     17379
casual        17379
registered    17379
cnt           17379
dtype: int64

In [29]:
bikes.yr.dropna(inplace=True)
bikes.yr.count()

17379

In [30]:
print(df1)

   id name  q1  assign  mid  compre
0   1    A   5      10    5      35
1   2    B   4       9   23      21
2   3    C   3       6   12      23
3   4    D   4       2   23      23
4   5    E   1       7   11      11

In [31]:
print(bikes)

       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]

In [32]:
bikes = bikes.dropna()
#or inplace replacment in data frame
bikes.dropna(inplace=True)
bikes.count()

instant       17379
dteday        17379
season        17379
yr            17379
mnth          17379
hr            17379
holiday       17379
weekday       17379
workingday    17379
weathersit    17379
temp          17379
atemp         17379
hum           17379
windspeed     17379
casual        17379
registered    17379
cnt           17379
dtype: int64

In [33]:
bikes.duplicated().sum()

0

In [34]:
bikes.instant.duplicated().sum()

0

In [35]:
#If duplicate records are present, then following code can be used to remove them.

In [36]:
bikes.drop_duplicates(subset="instant", keep="first", inplace=True)
bikes.count()

instant       17379
dteday        17379
season        17379
yr            17379
mnth          17379
hr            17379
holiday       17379
weekday       17379
workingday    17379
weathersit    17379
temp          17379
atemp         17379
hum           17379
windspeed     17379
casual        17379
registered    17379
cnt           17379
dtype: int64

In [37]:
# Step3 - Group-by and Concat /Merge

In [38]:
#First create the group by 
df_by_seasons = bikes.groupby("season")
type(df_by_seasons)

pandas.core.groupby.generic.DataFrameGroupBy

In [39]:
#sum("casual") group by season
df_by_seasons["casual"].sum()

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [40]:
#sum("registered") group by season , sort in ascending order
df_by_seasons["registered"].sum().sort_values()

season
1    410726
4    711831
2    715067
3    835038
Name: registered, dtype: int64

In [41]:
#sum("registered") group by season , sort in descending order
df_by_seasons["registered"].sum().sort_values(ascending=False)

season
3    835038
2    715067
4    711831
1    410726
Name: registered, dtype: int64

In [42]:
#Create the summarized data for casual users
df_casual = df_by_seasons["casual"].sum()
df_casual

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [43]:
#Create the summarized data for registered users
df_registered = df_by_seasons["registered"].sum()
df_registered

season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64

In [45]:
#Create the summarized data for casual users
df_casual = df_by_seasons["casual"].sum()
df_casual

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [46]:
#Create the summarized data for registered users
df_registered = df_by_seasons["registered"].sum()
df_registered

season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64

In [47]:
frames = [df_casual, df_registered]
df_seasons = pd.concat(frames, axis=1)
df_seasons

        casual  registered
season
1        60622      410726
2       203522      715067
3       226091      835038
4       129782      711831